{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "test": {
        "plugins": ["istanbul"]
      }
    }],
    "stage-1"
  ],
  "plugins": ["transform-object-rest-spread"]
}
