{
  "root": true,
  "extends": ["airbnb-base"],
  "plugins": [
    "node",
    "standard",
    "import"
  ],
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    "camelcase": "off",
    "curly": ["error", "all"],
    "indent": ["error", 2, { "MemberExpression": 1, "SwitchCase": 1 }],
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "arrow-parens": ["error", "always"],
    "func-names": "off",
    "global-require": "off",
    "import/no-extraneous-dependencioes": "off",
    "import/no-named-as-default-member": "off",
    "no-bitwise": "off",
    "no-case-declarations": "off",
    "no-multi-assign": "off",
    "no-tabs": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "no-return-assign": "off",
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "standard/object-curly-even-spacing": [2, "either"],
    "standard/array-bracket-even-spacing": [2, "either"],
    "standard/computed-property-even-spacing": [2, "even"]
  },
  "globals": {
    "td": true,
    "fetch": true,
    "sinon": true,
    "expect": true,
    "request": true,
    "rmdirAsync": true,
    "mkdirAsync": true,
    "createRandomString": true
  }
}